/*body{
    background-image: url("/img/papel-de-parede-cafeteria.jpg");
    background-color: #923d0c;
    color:#ffffff;
}*/
h1{
    text-align: center;
}
.inp_num{
    width:50px;
    border-radius: 10px;
    
}
.container {
    /*background-color: #923d0c;*/
    margin: 0% 20%;


}
.flex-container{
    display: flex;
    justify-content:space-between;
    margin-bottom: 10px;
    
}
img{
    width: 40px;
    height: 20px;
}
.linhaBotao
{
    background-color: rgb(201, 138, 57);
    height: 60px;
    margin-top: 40px;
}
.botaoConfirmar{
    background: #923d0c;
    color: #fffdfd;
    border-color: #923d0c;
    height: 35px;
    width: 130px;
    font: bold 12px arial,sans-serif;
    text-shadow: none;
    border-radius: 10px;
    margin-top: 12px;
    margin-right: 15%;
    position: absolute;
    right: 5%;
}
.tot{
    font: bold 20px arial,sans-serif;
    color: #ffffff;
    position:absolute;
    margin-top: 17px;
    left: 20%;
    
}