.menu-simples{
    background-color:#693306;
    height: 40px;
}
.titulo{
    text-align: center;
    font-size: 30px;
    color: #693306;
    margin: 5%;
}
.inp_num{
    width:50px;
    border-radius: 5px;
    text-align: center;
}
.container {
    /*background-color: #923d0c;*/
    margin:0% 10%;
    /* border: 1px solid #693306; */
    margin-bottom: 10px;

}
.flex-container{
    display: flex;
    justify-content: space-between;
    margin: 10px 40px;
}
.linhaBotao
{
    display: flex;
    justify-content: center;
    background-color: #693306;
    height: 60px;
    margin-top: 40px;
    border-radius: 10px;
}
.btn-add{
    background: #693306;
    color: hsl(0, 0%, 100%);
    border-color: #693306;
    height: 35px;
    width: 130px;
    border-radius: 5px;
    margin: 20px;
}
.botaoConfirmar{
    background: #ffffff;
    color: #693306;
    border-color: #ffffff;
    height: 35px;
    width: 130px;
    text-shadow: none;
    border-radius: 10px;
     margin-top: 12px; 
    text-align: center;
}
.tot{
    color: #ffffff;
    position:absolute;
    margin-top: 20px;
    left: 20%;
    
}
.select-cafe{
    background-color: #ffffff;
    color:#838383;
    border-radius: 5px;
    width: 100px;
    height: 25px;
    text-align: center;
}
.itens-adicionais{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px dotted ;
    margin: 10px 20px;
}
tr{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center; 
    /* margin-top: 5px; */
    border-bottom: 1px dotted;
}
th{
    display: flex;
    justify-content: space-between;
    margin: 10px 40px;
}
td {
    margin: 10px 40px;
}
/* .cabecalho-tabela{
    margin: 10px 40px;
    margin-bottom: 20px;
} */
.item{
 
    height: 80px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 5px 40px;
    border-bottom: 1px dotted ;

}
.alinhar-itens{
    margin: 10px 40px;
    margin-bottom: 20px;
}
.descricao{
    color: rgb(71, 69, 69);
    font-size: 12px;
    font-style: oblique;
    font-family: 'Times New Roman', Times, serif;
}